{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load dashboard_tags %}

{% block content %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">

      <form method="POST" action="{{ object.get_delete_url }}">
        {% csrf_token %}
        
        <div class="modal-header">
          <h4 class="modal-title">Delete {{ model_name_verbose }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% include 'form.html' %}
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary">
            Delete
          </button>
        </div>

      </form>

    </div>
  </div>
  

{% endblock content %}