
{% load dashboard_tags %}


{% if template_filters|length > 0 %}
    <div class="row">
        <div class="col-10">
            {% for key, filter in template_filters.items %}
                <span class="badge rounded-pill text-bg-primary">
                    {{ filter.verbose }} = {{ filter.value }}
                </span>
            {% endfor %}
        </div>
    </div>
{% endif %}