
<footer class="d-flex flex-wrap justify-content-between">
    <ul class="nav">
        <li class="nav-item">
            <a href="https://readthedocs.org/projects/django-dashboards/"  target="_blank" class="nav-link px-2 text-muted">
                Documentation
            </a>
        </li>
        <li class="nav-item">
            <a href="https://gitlab.com/albertosanmartinmartinez/django-dashboards"  target="_blank" class="nav-link px-2 text-muted">
                Code
            </a>
        </li>
        <li class="nav-item">
            <a href="http://www.albertosanmartinmartinez.es" target="_blank" class="nav-link px-2 text-muted">
                Author
            </a>
        </li>
    </ul>
    <p class="align-self-center text-muted m-0">Django Dashboard © <script>document.write(new Date().getFullYear());</script></p>
</footer>