
{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="mb-3">
        <label for="field.id_for_label" class="form-label">
            {{ field.label }}
        </label>
        {{ field|add_class:"form-control" }}
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endfor %}