
<!-- Header -->
<header class="navbar sticky-top dd-bg-white flex-md-nowrap p-0 shadow">
    
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" onclick="openCustomModal('{% url 'dashboard:apps' %}')">
        {{ settings.DASHBOARD_PROJECT_NAME }}
    </a>

    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Sign out</a>
        </div>
    </div>

</header>