{% load static %}

<div class="col">

    <div class="dropup">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ paginator.per_page }}
        </a>

        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{{ request.path }}?page=1&paginate_by=10&order={{ order }}{{ filters }}">10</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ request.path }}?page=1&paginate_by=20&order={{ order }}{{ filters }}">20</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ request.path }}?page=1&paginate_by=50&order={{ order }}{{ filters }}">50</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ request.path }}?page=1&paginate_by=100&order={{ order }}{{ filters }}">100</a>
            </li>
        </ul>
    </div>

</div>

<div class="col">
    <ul class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page=1&paginate_by={{ paginator.per_page }}&order={{ order }}{{ filters }}">
                    &lt;&lt;
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}&paginate_by={{ paginator.per_page }}&order={{ order }}{{ filters }}">
                    &lt;
                </a>
            </li>
        {% endif %}
        
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.number }}&paginate_by={{ paginator.per_page }}&order={{ order }}{{ filters }}">
                {{ page_obj.number }}
            </a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}&paginate_by={{ paginator.per_page }}&order={{ order }}{{ filters }}">
                    &gt;
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}&paginate_by={{ paginator.per_page }}&order={{ order }}{{ filters }}">
                    &gt;&gt;
                </a>
            </li>
        {% endif %}
    </ul>
</div>